<div class="header_bottom">
  <div class="buy">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="buy_lft">
          <ul>
            <li>Buy <span>Chips</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="buy_rgt">
          <ul>
            <li>Playing with Real Cash is <span>legal</span> in india<br/>
              and all your transcations are <span>100% safe & Secure</span></li>
            <li><img src="./assets/images/live.png" alt=""></li>
          </ul>
         
        </div>
      </div>
    </div>
  </div>
</div>