<div class="header_top">
  <div class="wel">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="wel_lft">
          <ul>
            <li>Welcome <span></span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="wel_rgt">
          <ul>
            <li>Play Chips: <span>352916.67</span></li>
            <li> Real Chips: <span>0</span></li>
            <li>
              <ul>
                <li class="dropdown ctr" appBootstrapDropdown><a class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;">My
                    Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a> Preferences</a></li>
                    <li><a>Contact Support</a></li>
                    <li><a>Logout</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
